{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
  <a href="/"><img src="{% static 'images/hrdc-logo-dark.png' %}" alt="HRDC Logo"></a>
  <h2>Login</h2>
  {% load crispy_forms_tags %}
  <form method="post">
    {% csrf_token %}{{form|crispy}}
      <p>Don't have an account? Create one <a href="/signup">Here</a>!</p>
      <button type="submit">Login</button>
  </form>
</body>
</html>
