{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}User Profile{% endblock %}
{% block head %}
    <script src="{% static 'js/profile.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/request.css' %}">
{% endblock %}
{% block content %}
    <div id="notification">
        <p id="notificationMessage"></p>
    </div>
    <div class="container">
        <br>
        <h1>Change Password</h1>
        <hr>
        <p>You have successfuly changed you password</p>
{% endblock %}