

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="icon" type="image/png" href="{% static 'images/logos/hrdc-favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>
<body>
  <div id="window">
    <a href="/"><img src="{% static 'images/logos/hrdc-logo-dark.png' %}" alt="HRDC Logo"></a>
    <h2>Password reset</h2>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="button-17">Send Email</button>
    </form>
  </div>
</body>
</html>