{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="icon" type="image/png" href="{% static 'images/logos/hrdc-favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>
<body>
  <div id="window">
    <a href="/"><img src="{% static 'images/logos/hrdc-logo-dark.png' %}" alt="HRDC Logo"></a>
    <h2>Password reset complete</h2>
    <p>Your password has been set. You may go ahead and log in now.</p>
    <button onclick="window.location.href='/login'" class="button-17">Login</button>
  </div>
</body>
</html>