{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" type="image/png" href="{% static 'images/logos/hrdc-favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
    <script src="{% static 'js/signup.js' %}" defer></script>
</head>
<body>
  <div id="window">
    <a href="/"><img src="{% static 'images/logos/hrdc-logo-dark.png' %}" alt="HRDC Logo"></a>
    <h2>Sign Up</h2>
    {% load crispy_forms_tags %}
    <form method="post">
      {% csrf_token %}{{form|crispy}}
        <p>Have an account? Login <a href="/login">Here</a>!</p>
        <button type="submit" class="button-17">Register</button>
    </form>
  </div>
</body>
</html>
