#home a {
    margin:10px;
    padding: 10px;
    text-decoration: none;
    border-radius: .5rem;
}

.create-link {
            font-size: 24px; /* Adjust the font size to make the icon slightly bigger */
            color: black; /* Change the color of the icon to black */
            text-decoration: none; /* Remove underline from the link */
            position: relative; /* Needed for positioning the tooltip */
        }

.create-link:hover .tooltip {
    visibility: visible; /* Show the tooltip on hover */
    opacity: 1; /* Make the tooltip fully visible */
}

.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.fab {
    background-color: #007bff; /* Change the color as needed */
    color: white;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.fab:hover {
    background-color: #0056b3; /* Change the color as needed */
}


