#home a {
    margin:10px;
    padding: 10px;
    text-decoration: none;
    border-radius: .5rem;
}

.create-link {
            font-size: 24px; /* Adjust the font size to make the icon slightly bigger */
            color: black; /* Change the color of the icon to black */
            text-decoration: none; /* Remove underline from the link */
            position: relative; /* Needed for positioning the tooltip */
        }

.create-link:hover .tooltip {
    visibility: visible; /* Show the tooltip on hover */
    opacity: 1; /* Make the tooltip fully visible */
}