@import url('colors.css');

#notification {
    display: none;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
}

#notificationMessage {
    margin: 0;
}

#pagination-controls td {
    background-color: #f8f8f8;
    box-shadow: none;
}

#pagination-controls a {
    font-size: 20px;

    width: 40px;
    height: 40px;
    border-radius: 50%; /* Make it circular */
    border: 2px solid #000; /* Border */
    margin: 0 5px; /* Adjust spacing between circles */
    display: inline-block;
    text-decoration: none; /* Remove default link underline */
}

#pagination-controls a#active_page {
    background-color: lightgray;
}

#pagination-controls a:hover {
    box-shadow: none;
    background-color: gray;
}

html, body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: #333;
}

h1, h2 {
    color: #444;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
}


td a {
    background-color: #fff;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    border: solid 2px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 150px;
}

.dropdown-menu {
    background-color: #0F7278;
}

.footer a {
    color: var(--primary-color);
}

.table th {
    background-color: var(--primary-color);
    color: white;
}

.table {
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul {
    padding: 0;
}

@media only screen and (max-width: 600px) {
    #wrapper {
        min-height: calc(100vh);
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .hidden {
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
        background-color: var(--primary-color);
        padding: 0.4rem 0.8rem;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .sidebar.active {
        height: 100%;
    }

    .main-content {
        position: relative;
        top: 60px;
    }

    #cropped {
        display: none;
    }

    .top .logo img {
        width: auto;
        height: 50px;
    }

    .sidebar ul li {
        position: relative;
        list-style-type: none;
        height: 50px;
        width: 90%;
        margin: 0.8rem auto;
        line-height: 50px;
    }

    .sidebar ul li a {
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 0.8rem;
        line-height: 50px;
        overflow: hidden;
    }

    .sidebar ul li a:hover {
        background-color: #fff;
        color: var(--primary-color);
    }

    .sidebar ul li a i {
        min-width: 50px;
        text-align: center;
        height: 50px;
        border-radius: 12px;
        line-height: 50px;
    }

    .sidebar ul {
        display: none;
    }

    .sidebar.active ul {
        display: block;
    }

    .sidebar-button {
        position: fixed;
        margin-top: auto;
        background-color: black;
        border: 1.5px solid white;
        right: 35px;
        top: 15px;
        z-index: 20;
        width: 35px;
        height: 35px;
        border-radius: 100px;
        transition: all 0.5s ease;
    }

    .sidebar-button i {
        min-width: 32px;
        text-align: center;
        height: 32px;
        line-height: 32px;
        color: #fff;
    }

    .sidebar-button.active .bi-x-lg {
        display: block;
    }

    .sidebar-button.active .bi-list {
        display: none;
    }

    .bi-list {
        display: block;
    }

    .bi-x-lg {
        display: none;
    }

/*
    .sidebar-button.active .bi-caret-up {
        display: block;
    }

    .sidebar-button.active .bi-caret-down {
        display: none;
    }

    .bi-caret-down {
        display: block;
    }

    .bi-caret-up {
        display: none;
    }

    .bi-caret-right {
        display: none;
    }

    .bi-caret-left {
        display: none;
    }
    */
}

@media only screen and (min-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Google Sans", Tahoma, Geneva, Verdana, serif;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80px;
        background-color: var(--primary-color);
        padding: 0.4rem 0.8rem;
        transition: all 0.5s ease, z-index 0s;
        z-index: 1;
    }

    .sidebar.active ~ .main-content {
        left: 250px;
        width: calc(100% - 250px);
    }

    .sidebar.active {
        width: 250px;
    }

    .top .logo img {
        width: 140px;
        height: auto;
        margin-left: 4px;
    }

    .sidebar ul li {
        position: relative;
        list-style-type: none;
        height: 50px;
        width: 90%;
        margin: 0.8rem auto;
        line-height: 50px;
    }

    .sidebar ul li a {
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 0.8rem;
        line-height: 50px;
        overflow: hidden;
    }

    .sidebar ul li a:hover {
        background-color: #fff;
        color: var(--primary-color);
    }

    .sidebar ul li a i {
        min-width: 50px;
        text-align: center;
        height: 50px;
        border-radius: 12px;
        line-height: 50px;
    }

    .sidebar .sidebar-item {
        opacity: 0;
    }

    .sidebar.active .sidebar-item {
        opacity: 1;
    }

    .sidebar ul li .tooltip {
        position: absolute;
        left: 125px;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
        border-radius: .6rem;
        padding: .4rem 1.2rem;
        line-height: 1.8rem;
        opacity: 0;
    }

    .sidebar ul li a:hover + .tooltip {
        opacity: 1;
        background-color: white;
    }

    .sidebar:hover {
        z-index: 10;
    }

    .sidebar.active ul li .tooltip {
        display: none;
    }

    .main-content {
        position: relative;
        min-height: 100vh;
        top: 0;
        left: 80px;
        transition: all 0.5s ease;
        width: calc(100% - 80px);
        padding: 1rem;
        z-index: 4;
    }

    #bottom-sidenav {
        margin-top: auto;
        bottom: 0;
    }

    .sidebar-button {
        position: fixed;
        background-color: var(--primary-color);
        border: 1.5px solid white;
        left: 60px;
        top: 50px;
        z-index: 20;
        width: 35px;
        height: 35px;
        border-radius: 100px;
        transition: transform 0.5s ease;
    }

    .sidebar-button:hover {
        background-color: white;
    }

    .sidebar-button:hover i {
        color: black;
    }

    .sidebar-button i {
        min-width: 32px;
        text-align: center;
        height: 32px;
        line-height: 32px;
        color: #fff;
    }

    .sidebar-button.active {
        transform: translateX(173px);
    }

    .sidebar-button.active .bi-x-lg {
        display: block;
    }

    .sidebar-button.active .bi-list {
        display: none;
    }

    .bi-list {
        display: block;
    }

    .bi-x-lg {
        display: none;
    }

    /*
    .sidebar-button.active .bi-caret-left {
        display: block;
    }

    .sidebar-button.active .bi-caret-right {
        display: none;
    }

    .bi-caret-right {
        display: block;
    }

    .bi-caret-left {
        display: none;
    }

    .bi-caret-down {
        display: none;
    }

    .bi-caret-up {
        display: none;
    }
    */

    .sidebar.active #cropped {
        display: none;
    }

    .sidebar.active #full {
        display: block;
    }

    #cropped {
        display: block;
    }

    #full {
        display: none;
    }

    #bottom-sidenav {
        position: absolute;
        bottom: 0;
        width: 70%;
    }

    .sidebar.active #bottom-sidenav {
        width: 89.765%;
    }
}


.button-17 {
  align-items: center;
  appearance: none;
  background-color: #3c4043;
  border-radius: 10px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

#modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}