#topnav {
    height: 80px;
    background-color: #0F7278;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#topnav img {
    height: 70px;
}

#topnav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 18px;
}

#topnav a:hover {
    color: lightgray;
}

#account {
    margin-left: auto;
}

