.form-container {
    width: 95%;
    max-width: 700px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 20px;
}


input {
    width: 100%;
    padding: 0px 5px;
    border-radius: 4px;
    border: 2px solid #ccc;
    
}

textarea {
    width: 100%;
    padding: 5px 5px;
   
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#building,#entry_permission{
    line-height: 1.6;
    width: 100%;
    padding: 0px 3px;
    border-radius: 4px;
    border: 2px solid #ccc;
    color: #000;

}

body {
    font-size: large;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1, h2 {
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
}

p {
    line-height: 1.8;
}

a {
    color: darkcyan;
    text-decoration: none;
}

button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 8px 0;
    cursor: pointer;
}

.table-button {
    display: block;
    width: 90%;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: auto;
    cursor: pointer;
}

button:hover {
    background-color: #48D1CC;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

#modal-buttons {
    display: flex;
    justify-content: space-between;
}

#notesTable {
    transition: opacity 0.5s;
}

.date {
    color: gray;
}