body {
    margin: 25px;
}

#window img {
    width: 90%;
    margin: auto;
}

#window input {
    font-size: 16px;
    margin: 5px;
}

@media only screen and (min-width: 600px) {
    #window {
        width: 500px;
        display: inline-block;
        padding: 20px;
        background-color: #fff;
    }

    body {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
    }
}