body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1, h2 {
    color: #444;
}

p {
    line-height: 1.6;
}

a {
    color: darkcyan;
    text-decoration: none;
}

button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 8px 0;
    cursor: pointer;
}

.table-button {
    display: block;
    width: 90%;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: auto;
    cursor: pointer;
}

button:hover {
    background-color: #48D1CC;
}


textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

#modal-buttons {
    display: flex;
    justify-content: space-between;
}

#notesTable {
    transition: opacity 0.5s;
}

.date {
    color: gray;
}

.export-link {
    font-size: 24px; /* Adjust the font size to make the icon slightly bigger */
    color: black; /* Change the color of the icon to black */
    text-decoration: none; /* Remove underline from the link */
    position: relative; /* Needed for positioning the tooltip */
}

.export-link:hover .tooltip {
    visibility: visible; /* Show the tooltip on hover */
    opacity: 1; /* Make the tooltip fully visible */
}
.link-container {
    display: flex;
}
