:root {
    --opacity-value: 30%;
}

.status-badge {
    display: inline-block;
    border-radius: 13px;
    padding: 1px 10px;
    color: white;
    border: solid 2px;
}

.status-cell {
    text-align: center;
    white-space: nowrap;
}

.table-cell {
    margin: auto;
}

.pending {
    background-color: rgba(255, 165, 0, var(--opacity-value)); /* orange */
    border-color: orange;
    color: orange;
}

.completed {
    background-color: rgba(0, 128, 0, var(--opacity-value)); /* green */
    border-color: green;
    color: green;
}

.cancelled {
    background-color: rgba(255, 0, 0, var(--opacity-value)); /* red */
    border-color: red;
    color: red;
}

.new {
    background-color: rgba(0, 0, 255, var(--opacity-value)); /* blue */
    border-color: blue;
    color: blue;
}

.inprogress {
    background-color: rgba(255, 255, 0, var(--opacity-value)); /* yellow */
    border-color: darkgoldenrod;
    color: darkgoldenrod;
}

.low {
    background-color: rgba(0, 128, 0, var(--opacity-value)); /* green */
    border-color: green;
    color: green;
}

.medium {
    background-color: rgba(255, 255, 0, var(--opacity-value)); /* yellow */
    border-color: darkgoldenrod;
    color: darkgoldenrod;
}

.high {
    background-color: rgba(255, 165, 0, var(--opacity-value)); /* orange */
    border-color: orange;
    color: orange;
}

.urgent {
    background-color: rgba(255, 0, 0, var(--opacity-value)); /* red */
    border-color: red;
    color: red;
}