{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}Maintenance Form{% endblock %}
{% block content %}
    <div class="container">
<head>
    <script>
        window.onbeforeunload = () => {
            for(const form of document.getElementsByTagName('form')) {
                form.reset();
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/maintenance.css' %}">
</head>
          <div class="form-container">
          <br>
            <h1>Maintenance Request Form</h1>
            <hr>
            <br>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p><input type="text" name="first_name" placeholder="First Name" value="{{user.first_name}}" required></p>
                <p><input type="text" name="last_name" placeholder="Last Name" value="{{user.last_name}}" required></p>
                <p><input type="text" name="phone" placeholder="Phone" required></p>
                <p><input type="text" name="unit" placeholder="Unit/Room" required></p>
                <p><select id="building" name="building" required>
                    <option value="" selected disabled hidden>--Select Building--</option>
                    {% for building in buildings %}
                    <option value="{{ building.id }}">{{ building.building_name }}</option>
                    {% endfor %}
                </select></p>
                <p><label id="personnel" for="entry_permission">Can Personnel Conducting Maintenance Enter if you are absent: </label></p>
                <p><select id="entry_permission" name="entry_permission" required>
                    <option value="" selected disabled hidden>--Select--</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select></p>
                
                <p><input type="text" name="title" placeholder="Maintenance Request Title" required></p>
                <textarea name="request" placeholder="Maintenance Request Details" rows="4" required></textarea>
                <br>
                <br>
                <p><select id="priority" name="priority" required>
                        <option value="" selected disabled hidden>--Select Priority--</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                        <option value="Urgent">Urgent</option>
                </select></p>
                <br>
                <input type="file" name="images" accept="image/*" multiple>
                <br>
                <br>
                <button type="submit" class="button-17">Submit</button>
            </form>
        </div>
        </div>

{% endblock %}