<!DOCTYPE html>
<html>
<body>

<a href="{% url 'home' %}">return home</a>

<h1>Maintenance Form</h1>
<form method="post">
  {% csrf_token %}
  <label for="first_name">First name:</label><br>
  <input type="text" id="first_name" name="first_name" value="{{user.first_name}}"><br><br>

  <label for="last_name">Last name:</label><br>
  <input type="text" id="last_name" name="last_name" value="{{user.last_name}}"><br><br>

  <label for="address">Address:</label><br>
  <input type="text" id="address" name="address"><br><br>

  <label for="request">Request:</label><br>
  <input type="text" id="request" name="request"><br><br>

  <label for="phone">Phone:</label><br>
  <input type="text" id="phone" name="phone"><br><br>

  <input type="submit" value="Submit">
</form> 



</body>
</html>