body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    margin: auto;
    margin-top: 0px;
    width: 80%;
    padding: 0;
}

h1, h2, h3, p {
    text-align: center;
}

li {
    margin: auto;
    width: 50%;
    text-align: left
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
