{% extends 'base.html' %}
{% load static %}
{% block title %}Housing Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
{% endblock %}
{% block content %}
<br>
<h2>Dashboard</h2>
<div id="home">
    <a href="{% url 'home' %}">Home</a>
</div>
<br>
<br>
<hr>
<br>
<br>
<div id="home">
    <a href="{% url 'signup' %}">Add User Account</a>
</div>
<br>
<br>
<h2>User Accounts</h2>
{% include 'dashboard/data/user.html' %}
<br>
<br>
<h2>Housing Applications</h2>
{% include 'dashboard/data/applications.html' %}
<br>
<br>
<h2>Maintenance Requests</h2>
{% include 'dashboard/data/requests.html' %}
<br>
<br>
    <h2>Buildings</h2>
    <div id="home">
        <a href="{% url 'createbuilding' %}">Add Building</a>
    </div>
    {% include 'dashboard/data/building.html' %}
    <br>
    <br>
{% endblock %}

