{% extends 'base.html' %}
{% load static %}
{% block title %}Housing Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
{% endblock %}
{% block content %}
<div class="container">
<br>
<h1>Dashboard</h1>
    <hr>
<br>
    <a href="{% url 'maintenance' %}" class="create-link">
        <i class="bi bi-file-earmark-plus"></i>
        <span class="tooltip">Add Request</span>
    </a>
    <div class="fab-container">
        <a href="{% url 'maintenance' %}">
            <button class="fab">
                <i class="bi bi-plus"></i>
            </button>
        </a>
    </div>
<div id="home">
    <a href="{% url 'signup' %}">Add User Account</a>
</div>
<br>
<br>
<h2>User Accounts</h2>
{% include 'dashboard/data/user.html' %}
<br>
<br>
<h2>Maintenance Requests</h2>
{% include 'dashboard/data/requests.html' %}
<a href="{% url 'maintenance_requests' %}">View More</a>
<br>
<br>
</div>
{% endblock %}

