{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Error 403</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/errors.css' %}">
    </head>
    <body>
        <div>
            <h1>Error 403: Forbidden</h1>
            <img src="{% static 'images/errors/403.png' %}" alt="error 403 cat">
            <p>You aren't allowed here</p>

            <a href="/">
                <button>
                    Take me back
                </button>
            </a>
        </div>
    </body>
</html>
