{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Error 404</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/errors.css' %}">
    </head>
    <body>
        <div>
            <h1>Error 404: This page doesn't exist</h1>
            <h2>It's easy to get lost in the cosmos</h2>
            <img src="{% static 'images/errors/404.jpeg' %}" alt="cat">
            <br>
            <br>

            <a href="/">
                <button class="button-17">
                    Take me back
                </button>
            </a>
        </div>
    </body>
</html>
