{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Error 500</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/errors.css' %}">
    </head>
    <body>
        <div>
            <h1>Error 500: Server Error</h1>
            <img src="{% static 'images/errors/500.jpeg' %}" alt="error 500 cat">
            <p>We are having some issues. Please check back later.</p>

            <a href="/">
                <button>
                    Take me back
                </button>
            </a>
        </div>
    </body>
</html>
