{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HRDC Housing Portal{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/logos/hrdc-favicon.png' %}">

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/icons/font/bootstrap-icons.css' %}">

    <script src="https://unpkg.com/htmx.org"></script>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const btn = document.getElementById("btn");
            const buttonContainer = document.getElementById("button-container");
            const sidebar = document.querySelector(".sidebar");

            //btn.addEventListener("click", function () {
            //    sidebar.classList.toggle("active");
            //    buttonContainer.classList.toggle("active");
            //});
            buttonContainer.addEventListener("click", function () {
                sidebar.classList.toggle("active");
                buttonContainer.classList.toggle("active");
            });
        });
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/global.js' %}"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="button-container" class="sidebar-button">
        <i class="bi bi-list"></i>
        <i class="bi bi-x-lg"></i>
        <!--
        <i class="bi bi-caret-right"></i>
        <i class="bi bi-caret-left"></i>
        <i class="bi bi-caret-down"></i>
        <i class="bi bi-caret-up"></i>
        -->
    </div>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <span id="full"><a href="/"><img src="{% static 'images/logos/hrdc-logo-light.png' %}" alt="HRDC Logo"></a></span>
                <span id="cropped"><a href="/"><img style="width:45px;"src="{% static 'images/logos/cropped-HRDC-favicon-01-192x192.png' %}" alt="HRDC Logo"></a></span>
            </div>
        </div>
        <ul>
            {% if user.is_authenticated %}
            {% if user.is_superuser or user.is_manager %}
            <li>
                <a href="/search">
                    <i class="bi bi-search"></i>
                    <span class="sidebar-item">Search</span>
                </a>
                <span class="tooltip">Search</span>
            </li>
            {% endif %}
            <li>
                <a href="/dashboard">
                    <i class="bi bi-grid"></i>
                    <span class="sidebar-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <hr style="color: white;">
            {% if user.is_superuser or user.is_manager %}
            <li>
                <a href="/dashboard/requests">
                    <i class="bi bi-tags"></i>
                    <span class="sidebar-item">All&nbsp;Requests</span>
                </a>
                <span class="tooltip">All&nbsp;Requests</span>
            </li>
            {% endif %}
            <li>
                <a href="/dashboard/requests/saved">
                    <i class="bi bi-bookmarks"></i>
                    <span class="sidebar-item">Saved&nbsp;Requests</span>
                </a>
                <span class="tooltip">Saved&nbsp;Requests</span>
            </li>
            <hr style="color: white;">
            {% if user.is_superuser or user.is_manager %}
            <li>
                <a href="/dashboard/buildings">
                    <i class="bi bi-buildings"></i>
                    <span class="sidebar-item">Buildings</span>
                </a>
                <span class="tooltip">Buildings</span>
            </li>
            <li>
                <a href="/dashboard/users">
                    <i class="bi bi-people"></i>
                    <span class="sidebar-item">Users</span>
                </a>
                <span class="tooltip">Users</span>
            </li>
            <hr style="color: white;">
            {% endif %}
            <div id="bottom-sidenav">
                <li class="test">
                    <a href="/profile">
                        <i class="bi bi-person-circle"></i>
                        <span class="sidebar-item">Your&nbsp;Account</span>
                    </a>
                    <span class="tooltip">Your&nbsp;Account</span>
                </li>
                <li>
                    <a href="/support">
                        <i class="bi bi-question-circle"></i>
                        <span class="sidebar-item">Support</span>
                    </a>
                    <span class="tooltip">Support</span>
                </li>
                <li>
                    <a href="/logout">
                        <i class="bi bi-box-arrow-left"></i>
                        <span class="sidebar-item">Logout</span>
                    </a>
                    <span class="tooltip">Logout</span>
                </li>
            </div>
            {% else %}
            <li>
                <a href="/login">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span class="sidebar-item">Login</span>
                </a>
                <span class="tooltip">Login</span>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="main-content">
        <div id="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <br>
    <br>
    <br>
    <footer class="footer mt-auto py-3 text-center">
        <span class="text-muted">
            <a href="https://thehrdc.org">HRDC Main Website</a> |
            <a href="https://github.com/423s24/Group_5">Documentation</a> |
            <a href="/support">Support</a>
        </span>
    </footer>

</body>
</html>