{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HRDC Housing Portal{% endblock %}</title>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <script src="{% static 'js/global.js' %}"></script>
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css" rel="stylesheet">


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const btn = document.getElementById("btn");
            const sidebar = document.querySelector(".sidebar");

            btn.addEventListener("click", function () {
                sidebar.classList.toggle("active");
            });
        });
    </script>

    {% block head %}
    {% endblock %}
</head>
<body>
    <!--<div id="topnav" class="navbar navbar-expand-lg">
    <li class="nav-item">
        <a href="/"><img src="{% static 'images/logos/hrdc-logo-light.png' %}" alt="HRDC Logo"></a>
    </li>
        <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'maintenance' %}">Maintenance</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                    Account
                </a>
                <div class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="/profile">{{user.username}}</a>
                        <a class="dropdown-item" href="/dashboard">My Dashboard</a>
                        <a class="dropdown-item" href="/logout">Log out</a>
                    {% else %}
                        <a class="dropdown-item" href="/login">Log in</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>

</div>-->
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <a href="/"><img src="{% static 'images/logos/hrdc-logo-light.png' %}" alt="HRDC Logo"></a>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="/dashboard">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="sidebar-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-search-alt-2"></i>
                    <span class="sidebar-item">Search</span>
                </a>
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="{% url 'maintenance_requests' %}">
                    <i class="bx bx-purchase-tag-alt"></i>
                    <span class="sidebar-item">AllRequests</span>
                </a>
                <span class="tooltip">All Requests</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-flag"></i>
                    <span class="sidebar-item">SavedRequests</span>
                </a>
                <span class="tooltip">Saved Requests</span>
            </li>
            <li>
                <a href="/dashboard/buildings">
                    <i class="bx bx-building"></i>
                    <span class="sidebar-item">Buildings</span>
                </a>
                <span class="tooltip">Buildings</span>
            </li>
            <li>
                <a href="/dashboard/users">
                    <i class="bx bx-user-pin"></i>
                    <span class="sidebar-item">Users</span>
                </a>
                <span class="tooltip">Users</span>
            </li>
            <div id="bottom-sidenav">
                <li>
                    <a href="/profile">
                        <i class='bx bxs-face'></i>
                        <span class="sidebar-item">{{ user.username }}</span>
                    </a>
                    <span class="tooltip">{{ user.username }}</span>
                </li>
                <li>
                    <a href="/support">
                        <i class='bx bx-support'></i>
                        <span class="sidebar-item">Support</span>
                    </a>
                    <span class="tooltip">Support</span>
                </li>
                <li>
                    <a href="/logout">
                        <i class="bx bx-log-out"></i>
                        <span class="sidebar-item">Logout</span>
                    </a>
                    <span class="tooltip">Logout</span>
                </li>
            </div>
            {% else %}
            <li>
                <a href="/login">
                    <i class='bx bx-log-in'></i>
                    <span class="sidebar-item">Login</span>
                </a>
                <span class="tooltip">Login</span>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="main-content">
        <div id="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="footer mt-auto py-3 text-center">
    <div class="container">
        <span class="text-muted">
            <a href="https://thehrdc.org">HRDC Main Website</a> |
            <a href="https://github.com/423s24/Group_5">Documentation</a> |
            <a href="/support">Support</a>
        </span>
    </div>
</footer>

</body>
</html>