{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HRDC Housing Portal{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/logos/hrdc-favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <script src="{% static 'js/global.js' %}"></script>
    <script src="https://unpkg.com/htmx.org"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="topnav">
        <a href="/"><img src="{% static 'images/logos/hrdc-logo-light.png' %}" alt="HRDC Logo"></a>
        <a href="{% url 'application' %}">Housing</a>
        <a href="{% url 'maintenance' %}">Maintenance</a>
        {% if user.is_authenticated %}
        <div id="account">
            <a href="/profile">{{user.username}}</a>
            <a href="/dashboard">My Dashboard</a>
            <a href="/logout">Log out</a>
        </div>
        {% else %}
        <div id="account">
            <a href="/login">Log in</a>
        </div>
        {% endif %}
    </div>
    <div id="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <a href="https://thehrdc.org">HRDC Main Website</a>
        <a href="https://github.com/423s24/Group_5">Documentation</a>
        <a href="/support">Support</a>
    </div>
</body>
</html>