{% extends 'base.html' %}
{% load static %}
{% block title %}Housing Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
<br>
<h2>Dashboard</h2>
<div id="home">
    <a href="{% url 'home' %}">Home</a>
</div>
<br>
<br>
<hr>
<br>
<br>
<div id="home">
    <a href="{% url 'signup' %}">Add User Account</a>
</div>
<br>
<br>
<h2>User Accounts</h1>
{% include 'data/user.html' %}
<br>
<br>
<h2>Housing Applications</h1>
{% include 'data/applications.html' %}
<br>
<br>
<h2>Maintenance Requests</h1>
{% include 'data/requests.html' %}
{% endblock %}

