{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Housing Dashboard</title>
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        {% include 'header.html' %}
        <h1>Housing Portal</h1>
        <br>
        <div id="housingapplication">
            <a href="{% url 'application' %}">Housing Application</a>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <div id="maintenanceform">
            <a href="{% url 'maintenance' %}">Maintenance Form</a>
        </div>

        <br>
        <br>
        <hr>
        <br>
        <br>

        <div id="maintenanceform">
            <a href="{% url 'dashboard' %}">Dashboard</a>
        </div>

        <br>
        <br>
        <hr>
        <br>
        <br>

        <div id="adduser">
            <a href="{% url 'add_user_account' %}">Add User Account</a>
        </div>

    </body>
</html>
