{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}User Profile{% endblock %}
{% block head %}
    <script src="{% static 'js/profile.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/request.css' %}">
{% endblock %}
{% block content %}
    <div id="notification">
        <p id="notificationMessage"></p>
    </div>
    <div class="container">
        <br>
        <h1>Your Account</h1>
        <hr>
        <div id="profile-info">
            <button id="edit-button" class="button-17">Edit Profile</button>
            <button onclick="deleteUser('{{user.id}}')" class="button-17">Delete User</button>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>First Name:</td>
                        <td id="first-name">{{user.first_name}}</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td id="last-name">{{user.last_name}}</td>
                    </tr>
                    <tr>
                        <td>Username:</td>
                        <td id="username">{{user.username}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td id="email">{{user.email}}</td>
                    </tr>
                    {% if user.is_superuser or user.is_manager %}
                    <tr>
                        <td>Email Notifications:</td>
                        <td id="email-notifications">{{user.email_notifications}}</td>
                    </tr>
                    {% else %}
                    <tr style="display: none;">
                        <td>Email Notifications:</td>
                        <td id="email-notifications">{{user.email_notifications}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Account Type:</td>
                        <td id="account-type">{{user.account_type}}</td>
                    </tr>
                    <tr>
                        <td>Date joined:</td>
                        <td id="date-jointed">{{user.date_joined}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="edit-form" style="display:none;">
            <button id="cancel-button" class="button-17">Cancel</button>
            <button id="save-button" class="button-17">Save</button>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" id="edit-first-name" required></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td><input type="text" id="edit-last-name" required><br></td>
                    </tr>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" id="edit-username" required></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="email" id="edit-email" required></td>
                    </tr>
                    {% if user.is_superuser or user.is_manager %}
                    <tr>
                        <td>Email Notifications:</td>
                        <td><input type="checkbox" id="edit-email-notifications"></td>
                    </tr>
                    {% else %}
                    <tr style="display: none;">
                        <td>Email Notifications:</td>
                        <td><input type="checkbox" id="edit-email-notifications"></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Account Type:</td>
                        <td id="account-type">{{user.account_type}}</td>
                    </tr>
                    <tr>
                        <td>Date joined:</td>
                        <td id="date-jointed">{{user.date_joined}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
          <br>
        <button onclick="window.location.href='/change_password/'" class="button-17">Change Password</button>
    </div>
    <div id="deleteUserModal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to delete your account?</p>
        <div id="modal-buttons">
            <button id="cancelDelete" class="button-17">Cancel</button>
            <button id="confirmDelete" class="button-17">Delete Account</button>
        </div>
    </div>
</div>
{% endblock %}