{% extends 'base.html' %}
{% block title %}Support{% endblock %}
{% block content %}
    <div class="container">
        
        <br>
        <h1>Welcome to our Support Page</h1>
        <hr>
        <h2>Frequently Asked Questions</h2>
        <div class="faq">
            <div class="faq-item">
                <div class="question clickable" id="show-answer-1">What is this website?</div>
                <div class="answer hidden" id="answer-1">
                    This is a website meant to handle multiple maintainence requests for current residents of the HRDC;s buildings.
                </div>
            </div>

            <div class="faq-item">
                <div class="question clickable" id="show-answer-3">How do I submit a maintainence request?</div>
                <div class="answer hidden" id="answer-3">
                    In the bar on the left side of the screen, there is a button labeled "Dashboard". Clicking on this will take you to an
                    main page of the site. Then, click on the symbol of a piece of paper with a plus sign in it. This will take you to the maintainence 
                    form. Your first and last names will be automatically filled, so you can then enter your phone number, address,
                    unit, your request, building name, and whether or not Personal Conducting Maintainence may enter your
                    building in your absense. After clicking Submit, you should receive an email confirming your information.
                </div>
            </div>

            <div class="faq-item">
                <div class="question clickable" id="show-answer-4">What is the information on the main page?</div>
                <div class="answer hidden" id="answer-4">
                    The main page shows a dashboard with your information. For a regular user without any special permissions, you'll be
                    able to see a list of your own housing applications and a list of your own maintainence requests.
                </div>
            </div>

            <div class="faq-item">
                <div class="question clickable" id="show-answer-5">I found an issue with the site. How can I contact you and report it?</div>
                <div class="answer hidden" id="answer-5">
                    If you think you found a bug, glitch, issue, or think something about the site needs to be changed, feel
                    free to go to the issues page on the site's Github <a href="https://github.com/423s24/Group_5/issues">here</a> to open an issue. We'll try our best to address
                    it as soon as possible!
                </div>
            </div>

            <div class="faq-item">
                <div class="question clickable" id="show-answer-6">I'm still confused and need a little bit more help.</div>
                <div class="answer hidden" id="answer-6">
                    That's okay, we have more detailed info on our user documentation page. The link to it can be
                    found <a href="https://423s24.github.io/Group_5/userdocumentation.html">here</a>. More information, as well
                    as more detailed descriptions of the information here can be found there.
                </div>
            </div>

        </div>
        
        <div>
            <br>
            <br>
            <h2>Make a support request</h2>
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p><input type="text" name="first_name" placeholder="First Name" value="{{user.first_name}}" required></p>
                <p><input type="text" name="last_name" placeholder="Last Name" value="{{user.last_name}}" required></p>
                
                <textarea name="request" placeholder="Support Request Details" rows="4" required></textarea>
              
                <button type="submit" class="button-17">Submit</button>
            </form>

        </div>
        
        
    </div>




<style>

    .form-container {
    width: 95%;
    max-width: 700px;
    margin: auto;
    padding: 0;
    justify-content: center;
}


input {
    width: 100%;
    padding: 0px 5px;
    border-radius: 4px;
    border: 2px solid #ccc;
    
}

textarea {
    width: 100%;
    padding: 5px 5px;
   
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#building,#entry_permission,#priority{
    line-height: 1.6;
    width: 100%;
    padding: 0px 3px;
    border-radius: 4px;
    border: 2px solid #ccc;
    color: #000;

}

body {
    background-color: #f0f0f0;
    color: #333;
}

h1, h2 {
    color: #000;
}

p {
    line-height: 1.8;
}


#notesTable {
    transition: opacity 0.5s;
}

.date {
    color: gray;
}
   
    .question {
      font-size: 125%;
      font-weight: bold;
      color: black; 
      cursor: pointer;
      padding-top: 10px;
    }
    .question:hover {
      text-decoration: underline; 
    }
  </style>


{% endblock %}