{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton_loader.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>


    <style>
        .table td, .table th {
            width: 12.5%;
            white-space: nowrap;
            text-align: center;
            overflow: auto;
        }

        .create-building-link {
            font-size: 24px; /* Adjust the font size to make the icon slightly bigger */
            color: black; /* Change the color of the icon to black */
            text-decoration: none; /* Remove underline from the link */
            position: relative; /* Needed for positioning the tooltip */
        }

        .create-building-link:hover .tooltip {
            visibility: visible; /* Show the tooltip on hover */
            opacity: 1; /* Make the tooltip fully visible */
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
    <br>
    <h1>Buildings</h1>
    <hr>
        <br>
        <div id="search-bar" class="form-group">
            <input type="search" name="search_query" placeholder="Search..." hx-get="." hx-trigger="input changed delay:500ms, search" hx-target="#request-data" hx-indicator=".htmx-indicator" class="form-control">
        </div>
        <span class="htmx-indicator"> 
            <strong>Searching..</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </span> 
        <br>
        <a href="{% url 'createbuilding' %}" class="create-building-link">
            <i class="bi bi-building-add"></i>
            <span class="tooltip">Create Building</span>
        </a>
        <table class="table table-hover" id="request-table">
            <thead>
                <tr>
                    <th>Building Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th>Zipcode</th>
                </tr>
            </thead>
            <tbody id="request-data" hx-trigger="load delay:200ms" hx-get="." hx-swap="innerHTML">
                {% for _ in "12345678" %}
                <tr class="skeleton-row">
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    </div>
{% endblock %}