{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton_loader.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <style>
        .table td, .table th {
            width: 12.5%;
            text-align: center;
            overflow: auto;
        }

        .create-building-link {
            font-size: 24px; /* Adjust the font size to make the icon slightly bigger */
            color: black; /* Change the color of the icon to black */
            text-decoration: none; /* Remove underline from the link */
            position: relative; /* Needed for positioning the tooltip */
        }

        .create-building-link:hover .tooltip {
            visibility: visible; /* Show the tooltip on hover */
            opacity: 1; /* Make the tooltip fully visible */
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
    <br>
    <h1>Buildings</h1>
    <hr>
        <br>
        <div id="search-bar" class="form-group">
            <input type="search" name="search_query" placeholder="Search..." hx-get="." hx-trigger="input changed delay:500ms, search" hx-target="#request-data" hx-indicator=".htmx-indicator" class="form-control">
        </div>
        <span class="htmx-indicator"> 
            <strong>Searching...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </span> 
        <br>
        {% if user.is_superuser %}
        <a href="/dashboard/buildings/create" class="create-building-link">
            <i class="bi bi-building-add"></i>
            <span class="tooltip">Create Building</span>
        </a>
        {% endif %}
        <table class="table table-hover" id="request-table">
            <thead>
                <tr>
                    <th onclick="sortBuildingsTable('building_name', 0)">
                        Building Name
                        <i id="sort-icon-0" class="bi{% if user.building_sort == 'building_name' %} bi-arrow-up{% elif user.building_sort == '-building_name' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th onclick="sortBuildingsTable('address', 1)">
                        Address
                        <i id="sort-icon-1" class="bi{% if user.building_sort == 'address' %} bi-arrow-up{% elif user.building_sort == '-address' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th class="hidden" onclick="sortBuildingsTable('city', 2)">
                        City
                        <i id="sort-icon-2" class="bi{% if user.building_sort == 'city' %} bi-arrow-up{% elif user.building_sort == '-city' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th class="hidden" onclick="sortBuildingsTable('state', 3)">
                        State
                        <i id="sort-icon-3" class="bi{% if user.building_sort == 'state' %} bi-arrow-up{% elif user.building_sort == '-state' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th class="hidden" onclick="sortBuildingsTable('country', 4)">
                        Country
                        <i id="sort-icon-4" class="bi{% if user.building_sort == 'country' %} bi-arrow-up{% elif user.building_sort == '-country' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th class="hidden" onclick="sortBuildingsTable('zipcode', 5)">
                        Zipcode
                        <i id="sort-icon-5" class="bi{% if user.building_sort == 'zipcode' %} bi-arrow-up{% elif user.building_sort == '-zipcode' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    
                </tr>
            </thead>
            <tbody id="request-data" hx-trigger="load delay:200ms" hx-get="." hx-swap="innerHTML">
                {% for _ in "12345678" %}
                <tr class="skeleton-row">
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    </div>
{% endblock %}