{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton_loader.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

    <script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("download").addEventListener("click", function() {
        var element = document.getElementById('request-table');
        html2canvas(element).then(function(canvas) {
            var imgData = canvas.toDataURL('image/png');
            var doc = new jsPDF('p', 'mm', 'a4');
            var pageWidth = doc.internal.pageSize.getWidth();
            var pageHeight = doc.internal.pageSize.getHeight();
            var imageWidth = canvas.width;
            var imageHeight = canvas.height;

            var widthRatio = pageWidth / imageWidth;
            var newHeight = imageHeight * widthRatio;
            var heightRatio = newHeight / pageHeight;

            doc.addImage(imgData, 'PNG', 5, 5, pageWidth-10, newHeight-10);

            // Open PDF in a new browser tab
            window.open(URL.createObjectURL(doc.output("blob")));
        });
    });
});

</script>



    <style>
        .table td, .table th {
            width: 12.5%;
            white-space: nowrap;
            text-align: center;
            overflow: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <div id="search-bar" class="form-group">
            <input type="search" name="search_query" placeholder="Search..." hx-get="." hx-trigger="input changed delay:500ms, search" hx-target="#request-data" hx-indicator=".htmx-indicator" class="form-control">
        </div>
        <span class="htmx-indicator"> 
            <strong>Searching..</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </span> 
        <br>
        <button id="download">Export</button>
        <br>
        <table class="table table-hover" id="request-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th class="hidden">Building</th>
                    <th class="hidden">Unit</th>
                    <th class="hidden">Access Permission</th>
                </tr>
            </thead>
            <tbody id="request-data" hx-trigger="load delay:200ms" hx-get="." hx-swap="innerHTML">
                {% for _ in "12345678" %}
                <tr class="skeleton-row">
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    </div>
{% endblock %}