{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton_loader.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

    <script>
    window.onload = function() {
        document.getElementById("download").addEventListener("click", function() {
            var element = document.getElementById('request-table');

            // Use html2pdf to convert HTML to PDF
            html2pdf().set({
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
                margin: [1, 1, 1, 1]
            }).from(element).save('exported_document.pdf');
        });
    };
    </script>
   <script>
   function getParams(sortBy) {
       var searchQuery = document.querySelector('input[name=search_query]').value;
       return 'sort_by=' + sortBy + '&search_query=' + searchQuery;
   }
   </script>
    <style>
        .table td, .table th {
            text-align: center;
            overflow: auto;
        }

        .links {
            font-size: 24px; /* Adjust the font size to make the icon slightly bigger */
            color: black; /* Change the color of the icon to black */
            text-decoration: none; /* Remove underline from the link */
            position: relative; /* Needed for positioning the tooltip */
        }

        .links:hover .tooltip {
            visibility: visible; /* Show the tooltip on hover */
            opacity: 1; /* Make the tooltip fully visible */
        }

        .link-container {
            display: flex;
        }
    </style>
   
{% endblock %}
{% block content %}
    <div class="container">
    <br>
    <div class="fab-container">
        <a href="{% url 'maintenance' %}">
            <button class="fab">
                <i class="bi bi-plus"></i>
            </button>
        </a>
    </div>
    <h1>All Requests</h1>
    <hr>
        <br>
        <div id="search-bar" class="form-group">
            <input type="search" name="search_query" placeholder="Search..." hx-get="" hx-trigger="input changed delay:500ms, search" hx-target="#request-data" hx-indicator=".htmx-indicator" class="form-control">
        </div>
        <span class="htmx-indicator"> 
            <strong>Loading...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </span> 
        <br>
        <div class="link-container">
        <a href="{% url 'maintenance' %}" class="links">
            <i class="bi bi-file-earmark-plus"></i>
            <span class="tooltip">Add Request</span>
        </a>
        <a class="links" id="download">
            <i class="bi bi-box-arrow-up"></i>
            <span class="tooltip">Export Table</span>
        </a>
        <button id="toggleClosedButton" class="button-17" onclick="toggleShowClosed()">{% if request.GET.show_closed == 'true' %}Hide Closed{% else %}Show Closed{% endif %}</button>
        </div>
        <table class="table table-hover" id="request-table">
            <thead>
                <tr>
                    <th onclick="sortRequestsTable('id', 0)">ID
                        <i id="sort-icon-0" class="bi{% if user.request_sort == 'id' %} bi-arrow-up{% elif user.request_sort == '-id' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th onclick="sortRequestsTable('last_name', 1)">Name
                        <i id="sort-icon-1" class="bi{% if user.request_sort == 'last_name' %} bi-arrow-up{% elif user.request_sort == '-last_name' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th onclick="sortRequestsTable('title', 2)">Title
                        <i id="sort-icon-2" class="bi{% if user.request_sort == 'title' %} bi-arrow-up{% elif user.request_sort == '-title' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th onclick="sortRequestsTable('status', 3)">Status
                        <i id="sort-icon-3" class="bi{% if user.request_sort == 'status' %} bi-arrow-up{% elif user.request_sort == '-status' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th onclick="sortRequestsTable('priority', 4)" class="hidden">Priority
                        <i id="sort-icon-4" class="bi{% if user.request_sort == 'priority' %} bi-arrow-up{% elif user.request_sort == '-priority' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th onclick="sortRequestsTable('building', 5)" class="hidden">Building
                        <i id="sort-icon-5" class="bi{% if user.request_sort == 'building' %} bi-arrow-up{% elif user.request_sort == '-building' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th onclick="sortRequestsTable('unit', 6)" class="hidden">Unit
                        <i id="sort-icon-6" class="bi{% if user.request_sort == 'unit' %} bi-arrow-up{% elif user.request_sort == '-unit' %} bi-arrow-down{% endif %}"></i>
                    </th>
                </tr>
            </thead>
            <tbody id="request-data" hx-trigger="load delay:200ms" hx-get="" hx-swap="innerHTML">
                {% for _ in "12345678" %}
                <tr class="skeleton-row">
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    </div>
{% endblock %}