{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton_loader.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

    <script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("download").addEventListener("click", function() {
        var element = document.getElementById('request-table');
        html2canvas(element).then(function(canvas) {
            var imgData = canvas.toDataURL('image/png');
            var doc = new jsPDF('p', 'mm', 'a4');
            var pageWidth = doc.internal.pageSize.getWidth();
            var pageHeight = doc.internal.pageSize.getHeight();
            var imageWidth = canvas.width;
            var imageHeight = canvas.height;

            var widthRatio = pageWidth / imageWidth;
            var newHeight = imageHeight * widthRatio;
            var heightRatio = newHeight / pageHeight;

            doc.addImage(imgData, 'PNG', 5, 5, pageWidth-10, newHeight-10);

            // Open PDF in a new browser tab
            window.open(URL.createObjectURL(doc.output("blob")));
        });
    });
});
</script>
    <script>
    var ascending = true; // Default sorting order is ascending

    function sortTable(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("request-table");
        switching = true;

        var icon = document.getElementById("sort-icon-" + columnIndex);
        if(icon.classList.contains("bi-arrow-up")) {
            ascending = false;
        } else {
            ascending = true;
        }
        for (var j = 0; j < 7; j++) {
            icon = document.getElementById("sort-icon-" + j);
            icon.classList.remove("bi-arrow-down", "bi-arrow-up");
        }

        // Show icon for the current column
        icon = document.getElementById("sort-icon-" + columnIndex);
        icon.classList.add(ascending ? "bi-arrow-up" : "bi-arrow-down");

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[columnIndex];
                y = rows[i + 1].getElementsByTagName("TD")[columnIndex];

                if (ascending) {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            } else {
                if (ascending) {
                    ascending = false; // Change sorting order to descending
                } else {
                    ascending = true; // Change sorting order to ascending
                }
            }
        }
    }
</script>

    <style>
        .table td, .table th {
            text-align: center;
            overflow: auto;
        }

        .links {
            font-size: 24px; /* Adjust the font size to make the icon slightly bigger */
            color: black; /* Change the color of the icon to black */
            text-decoration: none; /* Remove underline from the link */
            position: relative; /* Needed for positioning the tooltip */
        }

        .links:hover .tooltip {
            visibility: visible; /* Show the tooltip on hover */
            opacity: 1; /* Make the tooltip fully visible */
        }

        .link-container {
            display: flex;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
    <br>
    <div class="fab-container">
        <a href="{% url 'maintenance' %}">
            <button class="fab">
                <i class="bi bi-plus"></i>
            </button>
        </a>
    </div>
    <h1>Saved Requests</h1>
    <hr>
        <br>
        <div id="search-bar" class="form-group">
            <input type="search" name="search_query" placeholder="Search..." hx-get="/dashboard/requests/saved" hx-trigger="input changed delay:500ms, search" hx-target="#request-data" hx-indicator=".htmx-indicator" class="form-control">
        </div>
        <span class="htmx-indicator"> 
            <strong>Searching..</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </span> 
        <br>
        <div class="link-container">
        <a href="{% url 'maintenance' %}" class="links">
            <i class="bi bi-file-earmark-plus"></i>
            <span class="tooltip">Add Request</span>
        </a>
        <a class="links" id="download">
            <i class="bi bi-box-arrow-up"></i>
            <span class="tooltip">Export Table</span>
        </a>
        </div>
        <table class="table table-hover" id="request-table">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">ID<i id="sort-icon-0" class="bi"></i></th>
                    <th onclick="sortTable(1)">Name<i id="sort-icon-1" class="bi"></i></th>
                    <th onclick="sortTable(2)">Title<i id="sort-icon-2" class="bi"></i></th>
                    <th onclick="sortTable(3)">Status<i id="sort-icon-3" class="bi"></i></th>
                    <th onclick="sortTable(4)" class="hidden">Building<i id="sort-icon-4" class="bi"></i></th>
                    <th onclick="sortTable(5)" class="hidden">Unit<i id="sort-icon-5" class="bi"></i></th>
                    <th onclick="sortTable(6)" class="hidden">Access Permission<i id="sort-icon-6" class="bi"></i></th>
                </tr>
            </thead>
            <tbody id="request-data" hx-trigger="load delay:200ms" hx-get="/dashboard/requests/saved" hx-swap="innerHTML">
                {% for _ in "12345678" %}
                <tr class="skeleton-row">
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    </div>
{% endblock %}