{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton_loader.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
    <br>
    <h1>Users</h1>
    <hr>
        <br>
        <div id="search-bar" class="form-group">
            <input type="search" name="search_query" placeholder="Search..." hx-get="." hx-trigger="input changed delay:500ms, search" hx-target="#request-data" hx-indicator=".htmx-indicator" class="form-control">
        </div>
        <span class="htmx-indicator"> 
            <strong>Searching...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </span> 
        <br>
        <table class="table table-hover" id="request-table">
            <thead>
                <tr>
                    <th onclick="sortUsersTable('username', 0)">
                        Username
                        <i id="sort-icon-0" class="bi{% if user.user_sort == 'username' %} bi-arrow-up{% elif user.user_sort == '-username' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th class="hidden" onclick="sortUsersTable('email', 1)">
                        Email
                        <i id="sort-icon-1" class="bi{% if user.user_sort == 'email' %} bi-arrow-up{% elif user.user_sort == '-email' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th onclick="sortUsersTable('name', 2)">
                        Name
                        <i id="sort-icon-2" class="bi{% if user.user_sort == 'name' %} bi-arrow-up{% elif user.user_sort == '-name' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th class="hidden" onclick="sortUsersTable('account_type', 3)">
                        Account Type
                        <i id="sort-icon-3" class="bi{% if user.user_sort == 'account_type' %} bi-arrow-up{% elif user.user_sort == '-account_type' %} bi-arrow-down{% endif %}"></i>
                    </th>
                    <th class="hidden" onclick="sortUsersTable('date_joined', 4)">
                        Date Joined
                        <i id="sort-icon-4" class="bi{% if user.user_sort == 'date_joined' %} bi-arrow-up{% elif user.user_sort == '-date_joined' %} bi-arrow-down{% endif %}"></i>
                    </th>
                </tr>
            </thead>
            <tbody id="request-data" hx-trigger="load delay:200ms" hx-get="." hx-swap="innerHTML">
                {% for _ in "12345678" %}
                <tr class="skeleton-row">
                    <td><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                    <td class="hidden"><span class="skeleton-loader"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    </div>
{% endblock %}