{% extends 'base.html' %}
{% load static %}
{% block title %}User Profile{% endblock %}
{% block head %}
    <script src="{% static 'js/view_user.js' %}" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/request.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div id="profile-info">
            <br>
            <h1>Profile for {{u.username}}</h1>
            <hr>
            <p>First Name: <span id="first-name">{{u.first_name}}</span></p>
            <p>Last Name: <span id="last-name">{{u.last_name}}</span></p>
            <p>Username: <span id="username">{{u.username}}</span></p>
            <p>Email: <span id="email">{{u.email}}</span></p>
            <p>Account Type: <span id="account-type">{{u.account_type}}</span></p>
            <p>Date joined: <span id="date-joined">{{u.date_joined}}</span></p>
            <button id="edit-button" class="button-17">Edit</button>
            <br>
            <br>
            <button onclick="deleteUser('{{u.id}}')" class="button-17">Delete User</button>
          </div>
        <div id="edit-form" style="display:none;">
            <h1>Edit Profile</h1>
            <label for="edit-first-name">First Name:</label>
            <input type="text" id="edit-first-name"><br>
            <br>
            <label for="edit-last-name">Last Name:</label>
            <input type="text" id="edit-last-name"><br>
            <br>
            <label for="edit-username">Username:</label>
            <input type="text" id="edit-username"><br>
            <br>
            <label for="edit-email">Email:</label>
            <input type="email" id="edit-email"><br>
            <br>
            <label for="edit-account-type">Account Type:</label>
            <select id="edit-account-type">
              <option value="admin">admin</option>
              <option value="manager">manager</option>
              <option value="tenant">tenant</option>
            </select>
            <br>
            <p>Date joined: <span id="date-joined">{{u.date_joined}}</span></p>
            <button id="cancel-button" class="button-17">Cancel</button>
            <button id="save-button" class="button-17">Save</button>
          </div>
    </div>
    <div id="deleteUserModal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to delete this account?</p>
        <div id="modal-buttons">
            <button id="cancelDelete" class="button-17">Cancel</button>
            <button id="confirmDelete" class="button-17">Delete Account</button>
        </div>
    </div>
</div>
{% endblock %}