{% extends 'base.html' %}
{% load static %}
{% block title %}Housing Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
    <style>
    .hoverable-table {
        border-collapse: collapse;
    }

    .hoverable-table tr:not(.header-row):hover {
        background-color: #bdbbbb;
    }
</style>
<h1>{{ building.buildingName }} Information</h1>

    <h2>Building Details:</h2>
<p><strong>Building Name:</strong> {{ building.buildingName }}</p>
<p><strong>Address:</strong> {{ building.address }}</p>
<p><strong>City:</strong> {{ building.city }}</p>
<p><strong>State:</strong> {{ building.state }}</p>
<p><strong>Country:</strong> {{ building.country }}</p>
<p><strong>Zipcode:</strong> {{ building.zipcode }}</p>

<h2>Maintenance Requests:</h2>
<table class="hoverable-table">
    <thead>
        <tr class="header-row">
            <th>Request ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Building</th>
            <th>Unit</th>
            <th>Request</th>
            <th>Access Permission</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        {% for request in maintenance_requests %}
            <tr onclick="window.location='{% url 'request_info' request_id=request.id %}'" style="cursor: pointer;">
                <td>{{ request.id }}</td>
                <td>{{request.first_name}}</td>
                <td>{{request.last_name}}</td>
                <td>{{request.building.buildingName}}</td>
                <td>{{request.unit}}</td>
                <td>{{request.request}}</td>
                <td>{{ request.entry_permission }}</td>
                <td>{{ request.completed }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}