{% extends 'base.html' %}
{% load static %}
{% block title %}Housing Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
    <style>
    .hoverable-table {
        border-collapse: collapse;
    }

    .hoverable-table tr:not(.header-row):hover {
        background-color: #bdbbbb;
    }
</style>
<h1>{{ building.buildingName }} Information</h1>

    <h2>Building Details:</h2>
    <table class="data-table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>Building Name:</td>
                <td>{{ building.buildingName }}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{ building.address }}</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>{{ building.city }}</td>
            </tr>
            <tr>
                <td>State:</td>
                <td>{{ building.state }}</td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>{{ building.country }}</td>
            </tr>
            <tr>
                <td>Zipcode:</td>
                <td>{{ building.zipcode }}</td>
            </tr>
        </tbody>
    </table>

<h2>Maintenance Requests:</h2>
<table class="hoverable-table">
    <thead>
        <tr class="header-row">
            <th>Request ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Building</th>
            <th>Unit</th>
            <th>Request</th>
            <th>Access Permission</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        {% for request in maintenance_requests %}
            <tr onclick="window.location='{% url 'request_info' request_id=request.id %}'" style="cursor: pointer;">
                <td>{{ request.id }}</td>
                <td>{{request.first_name}}</td>
                <td>{{request.last_name}}</td>
                <td>{{request.building.buildingName}}</td>
                <td>{{request.unit}}</td>
                <td>{{request.request}}</td>
                <td>{{ request.entry_permission }}</td>
                <td>{{ request.completed }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <br>
    <br>
{% endblock %}