{% extends 'base.html' %}
{% load static %}
{% block title %}Housing Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <script>
    window.onload = function() {
            var deleteBuildingModal = document.getElementById("deleteBuildingModal");
            var confirmDelete = document.getElementById('confirmDelete');
            var cancelDelete = document.getElementById('cancelDelete');

            window.deleteBuilding = function(id_str) {
                id = parseInt(id_str)
                deleteBuildingModal.style.display = "block";
                var data = {'type': 'Building', 'id': id}
                cancelDelete.onclick = function () {
                    deleteBuildingModal.style.display = "none";
                }

                confirmDelete.onclick = function () {
                    fetch('/delete/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                window.location.replace("/dashboard");
                            } else {
                                alert("There was an error deleting the building.");
                            }
                        });
                    deleteBuildingModal.style.display = "none";
                }
            }
        }

    </script>
    <script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    </script>
{% endblock %}
{% block content %}
    <div class="container">
    <br>
<h1>{{ building.building_name }} Information</h1>
    <hr>
    <h2>Building Details:</h2>
    <button onclick="deleteBuilding({{building.id}})" class="button-17">Delete Building</button>
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>Building Name:</td>
                <td>{{ building.building_name }}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{ building.address }}</td>
            </tr>
            <tr>
                <td>City:</td>
                <td>{{ building.city }}</td>
            </tr>
            <tr>
                <td>State:</td>
                <td>{{ building.state }}</td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>{{ building.country }}</td>
            </tr>
            <tr>
                <td>Zipcode:</td>
                <td>{{ building.zipcode }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
<h2>Maintenance Requests:</h2>
{% include 'dashboard/data/requests.html' %}
    <br>
    <br>
    </div>

    <div id="deleteBuildingModal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to delete this building?</p>
        <div id="modal-buttons">
            <button id="cancelDelete" class="button-17">Cancel</button>
            <button id="confirmDelete" class="button-17">Delete Building</button>
        </div>
    </div>
</div>

{% endblock %}