<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Request</th>
        <th>Phone</th>
        <th>Building</th>
        <th>Access</th>
    </tr>
    {% for request in requests %}
    <tr onclick="window.location='{% url 'request_info' request_id=request.id %}'" style="cursor: pointer;">
        <td>{{request.first_name}}</td>
        <td>{{request.last_name}}</td>
        <td>{{request.address}}</td>
        <td>{{request.request}}</td>
        <td>{{request.phone}}</td>
        <td>{{ request.building.buildingName }}</td>
        <td>{{ request.entry_permission }}</td>
    </tr>
    {% endfor %}
</table>