<thead>
    <tr>
        <th onclick="sortRequestsTable('id', 0)">ID
            <i id="sort-icon-0" class="bi{% if user.request_sort == 'id' %} bi-arrow-up{% elif user.request_sort == '-id' %} bi-arrow-down{% endif %}"></i>
        </th>
        <th onclick="sortRequestsTable('last_name', 1)">Name
            <i id="sort-icon-1" class="bi{% if user.request_sort == 'last_name' %} bi-arrow-up{% elif user.request_sort == '-last_name' %} bi-arrow-down{% endif %}"></i>
        </th>
        <th onclick="sortRequestsTable('title', 2)">Title
            <i id="sort-icon-2" class="bi{% if user.request_sort == 'title' %} bi-arrow-up{% elif user.request_sort == '-title' %} bi-arrow-down{% endif %}"></i>
        </th>
        <th onclick="sortRequestsTable('status', 3)">Status
            <i id="sort-icon-3" class="bi{% if user.request_sort == 'status' %} bi-arrow-up{% elif user.request_sort == '-status' %} bi-arrow-down{% endif %}"></i>
        </th>
        <th onclick="sortRequestsTable('priority', 4)" class="hidden">Priority
            <i id="sort-icon-4" class="bi{% if user.request_sort == 'priority' %} bi-arrow-up{% elif user.request_sort == '-priority' %} bi-arrow-down{% endif %}"></i>
        </th>
        <th onclick="sortRequestsTable('building', 5)" class="hidden">Building
            <i id="sort-icon-5" class="bi{% if user.request_sort == 'building' %} bi-arrow-up{% elif user.request_sort == '-building' %} bi-arrow-down{% endif %}"></i>
        </th>
        <th onclick="sortRequestsTable('unit', 6)" class="hidden">Unit
            <i id="sort-icon-6" class="bi{% if user.request_sort == 'unit' %} bi-arrow-up{% elif user.request_sort == '-unit' %} bi-arrow-down{% endif %}"></i>
        </th>
    </tr>
</thead>
<tbody>
    {% for maintenance_request in maintenance_requests %}
    <tr onclick="window.location='/dashboard/requests/{{maintenance_request.id}}'" style="cursor: pointer;">
        <td>{{ maintenance_request.id }}</td>
        <td>{{maintenance_request.first_name}} {{ maintenance_request.last_name }}</td>
        <td>{{ maintenance_request.title }}</td>
        <td class="status-cell"><span class="status-badge {{ maintenance_request.status|lower|cut:' ' }}">{{ maintenance_request.status }}</span></td>
        <td class="hidden status-cell"><span class="status-badge {{ maintenance_request.priority|lower|cut:' ' }}">{{ maintenance_request.priority }}</span></td>
        <td class="hidden">{{maintenance_request.building.building_name }}</td>
        <td class="hidden">{{ maintenance_request.unit }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="8" style="text-align:center;">No results found!</td>
    </tr>
    {% endfor %}
    <tr id="pagination-controls">
        <td colspan="7"> 
            <select style="float: left;" id="paging-count-dropdown" onchange="changePagingCount(this.value)">
                <option value="10" {% if user.paging_count == 10 %}selected{% endif %}>10</option>
                <option value="25" {% if user.paging_count == 25 %}selected{% endif %}>25</option>
                <option value="50" {% if user.paging_count == 50 %}selected{% endif %}>50</option>
                <option value="100" {% if user.paging_count == 100 %}selected{% endif %}>100</option>
            </select>
            {% if maintenance_requests.has_previous %}
                <a hx-get="?page={{maintenance_requests.previous_page_number}}" hx-target="#request-table">&lt;</a>
            {% endif %}
            {% for num in maintenance_requests.paginator.page_range %}
                <a hx-get="?page={{num}}" hx-target="#request-table">{{ num }}</a>
            {% endfor %}
            {% if maintenance_requests.has_next %}
                <a hx-get="?page={{maintenance_requests.next_page_number}}" hx-target="#request-table">&gt;</a>
            {% endif %}
            <span style="float: right;">Total: {{total}}</span>
        </td>
    </tr>
</tbody>