{% extends 'base.html' %}
{% load static %}
{% block title %}Housing Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/request.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}">
<script src="{% static 'js/request.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

    <script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("download").addEventListener("click", function() {
        var element = document.getElementById('to-export');
        html2canvas(element).then(function(canvas) {
            var imgData = canvas.toDataURL('image/png');
            var doc = new jsPDF('p', 'mm', 'a4');
            var pageWidth = doc.internal.pageSize.getWidth();
            var pageHeight = doc.internal.pageSize.getHeight();
            var imageWidth = canvas.width;
            var imageHeight = canvas.height;

            var widthRatio = pageWidth / imageWidth;
            var newHeight = imageHeight * widthRatio;
            var heightRatio = newHeight / pageHeight;

            doc.addImage(imgData, 'PNG', 5, 5, pageWidth-10, newHeight-10);

            // Open PDF in a new browser tab
            window.open(URL.createObjectURL(doc.output("blob")));
        });
    });
});
</script>

    <style>
        .export-link {
            font-size: 24px; /* Adjust the font size to make the icon slightly bigger */
            color: black; /* Change the color of the icon to black */
            text-decoration: none; /* Remove underline from the link */
            position: relative; /* Needed for positioning the tooltip */
        }

        .export-link:hover .tooltip {
            visibility: visible; /* Show the tooltip on hover */
            opacity: 1; /* Make the tooltip fully visible */
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
    <div id="to-export">
    <br>
<h1>Request #{{ maintenance_request.id }} Information</h1>
<hr>
<h3>Request Details:</h3>
    <br>
    <a class="export-link" id="download">
        <i class='bx bx-export'></i>
        <span class="tooltip">Export Table</span>
    </a>
    <br>
    {% if can_edit_request %}
    <a href="{% url 'edit_request' request_id=maintenance_request.id %}"><button>Edit Request</button></a>
    <button onclick="deleteRequest('{{maintenance_request.id}}')">Delete Request</button>
    {% endif %}
    <table class="table">
        <thead>
        </thead>`
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{ maintenance_request.first_name }} {{ maintenance_request.last_name }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ maintenance_request.phone }}</td>
        </tr>
        <tr>
            <td>Building Name</td>
            <td>{{ maintenance_request.building.building_name }}</td>
        </tr>
        <tr>
            <td>Unit</td>
            <td>{{ maintenance_request.unit }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td class="table-cell"><span class="status-badge {{ maintenance_request.status|lower|cut:' ' }}">{{ maintenance_request.status }}</span></td>
        </tr>
        <tr>
            <td>Date Submitted</td>
            <td>{{ maintenance_request.date_submitted }}</td>
        </tr>
        <tr>
            <td>Date Completed</td>
            <td>{{ maintenance_request.date_completedd }}</td>
        </tr>
    </tbody>
    </table>
    <br>
    <br>
    <table class="table">
        <thead>
        </thead>`
    <tbody>
        <tr>
            <td>Title</td>
            <td>{{ maintenance_request.title }}</td>
        </tr>
        <tr>
            <td>Request</td>
            <td><p>{{ maintenance_request.request }}</p></td>
        </tr>
        <tr>
            <td>Entry Permission</td>
            <td>{% if maintenance_request.entry_permission %}Yes{% else %}No{% endif %}</td>
        </tr>

    </tbody>
    </table>
    <br>
    <br>
    {% if request.user.is_superuser or request.user.manager %}
        <h3>Maintenance Notes:</h3>
        <div id="notesTable">
            <table class="table">
                <thead>
                    <tr class="header-row">
                        <th>User</th>
                        <th>Notes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if maintenance_request.maintenance_notes.all %}
                        {% for notes in maintenance_request.maintenance_notes.all %}
                            <tr>
                                <td><a href="/dashboard/users/{{notes.user_id}}">{{ notes.user_id }}</a></td>
                                <td id="note_{{ notes.id }}">
                                    <p>{{notes.notes}}</p>
                                    <span class="date">{{notes.date_submitted}}</span>
                                </td>
                                <td>
                                    <button class="table-button" onclick="editNote('{{ notes.id }}')">Edit</button>
                                    <button class="table-button" onclick="deleteNote('{{ notes.id }}')">Delete</button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No maintenance notes available.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <br>
        </div>
        <br>
        <form method="post" action="{% url 'add_note' request_id=maintenance_request.id %}">
            {% csrf_token %}
            <label for="notes">Maintenance Notes:</label><br>
            <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br>
            <button type="submit">Add Note</button>
        </form>
    {% endif %}
</div>
    <div id="editNoteModal" class="modal">
    <div class="modal-content">
        <span class="close">×</span>
        <p>Edit note</p>
        <textarea id="noteText"></textarea>
        <div id="modal-buttons">
            <button id="cancelNote">Cancel</button>
            <button id="saveNote">Save</button>
        </div>
    </div>
</div>

<div id="deleteNoteModal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to delete this note?</p>
        <div id="modal-buttons">
            <button id="cancelDelete">Cancel</button>
            <button id="confirmDelete">Delete Note</button>
        </div>
    </div>
</div>



{% endblock %}
