{% extends 'base.html' %}
{% load static %}
{% block title %}Housing Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/request.css' %}">
<script>
function editNote(noteId) {
    let noteText = document.getElementById('note_' + noteId).innerText;
    let newNoteText = prompt("Edit note", noteText);
    if (newNoteText == null || newNoteText == "") {
        alert("You must enter a note!");
    } else {
        fetch('/request/edit_note/' + noteId + '/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'note_id': noteId,
                'note_text': newNoteText,
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('note_' + noteId).innerText = newNoteText;
            } else {
                alert("There was an error editing the note.");
            }
        });
    }
}

function deleteNote(noteId) {
    if (confirm("Are you sure you want to delete this note?")) {
        fetch('/request/delete_note/' + noteId + '/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload();
            } else {
                alert("There was an error deleting the note.");
            }
        });
    }
}

</script>
{% endblock %}
{% block content %}
<h1>Request #{{ maintenance_request.id }} Information</h1>

<h2>Request Details:</h2>

    {% if can_edit_request %}
    <a href="{% url 'edit_request' request_id=maintenance_request.id %}"><button>Edit Request</button></a>
    {% endif %}
    <table class="data-table">
        <thead>
        </thead>`
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{ maintenance_request.first_name }} {{ maintenance_request.last_name }}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ maintenance_request.phone }}</td>
        </tr>
        <tr>
            <td>Request</td>
            <td>{{ maintenance_request.request }}</td>
        </tr>
        <tr>
            <td>Building Name</td>
            <td>{{ maintenance_request.building.buildingName }}</td>
        </tr>
        <tr>
            <td>Entry Permission</td>
            <td>{% if maintenance_request.entry_permission %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ maintenance_request.status }}</td>
        </tr>
        <tr>
            <td>Completed</td>
            <td>{% if maintenance_request.completed %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
            <td>Date Completed</td>
            <td>{{ maintenance_request.dateCompleted }}</td>
        </tr>
    </tbody>
    </table>
    <br>
    <br>

    {% if request.user.is_superuser or request.user.manager %}
        <h3>Maintenance Notes:</h3>
        <table class="hoverable-table">
            <thead>
                <tr class="header-row">
                    <th>User</th>
                    <th>Notes</th>
                    <th>Date Made</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% if maintenance_request.maintenance_notes.all %}
                    {% for notes in maintenance_request.maintenance_notes.all %}
                        <tr>
                            <td>{{ notes.userId }}</td>
                            <td id="note_{{ notes.id }}">{{notes.notes}}</td>
                            <td>{{notes.dateMade}}</td>
                            <td><button class="table-button" onclick="editNote('{{ notes.id }}')">Edit</button></td>
                            <td><button class="table-button" onclick="deleteNote('{{ notes.id }}')">Delete</button></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No maintenance notes available.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <br>
        <br>
        <form method="post" action="{% url 'add_note' request_id=maintenance_request.id %}">
            {% csrf_token %}
            <label for="notes">Maintenance Notes:</label><br>
                <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br>
                <button type="submit">Add Note</button>
        </form>

        {% if not maintenance_request.completed %}
            <form method="post" action="{% url 'mark_completed' request_id=maintenance_request.id %}">
            {% csrf_token %}
            <button type="submit">Mark as Completed</button>
            </form>
        {% endif %}
    {% endif %}

{% endblock %}
