<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Building</th>
            <th>Unit</th>
            <th>Request</th>
            <th>Access Permission</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr onclick="window.location='{% url 'request_info' request_id=request.id %}'" style="cursor: pointer;">
            <td>{{request.first_name}} {{ request.last_name }}</td>
            <td>{{request.building.buildingName}}</td>
            <td>{{request.unit}}</td>
            <td>{{request.request}}</td>
            <td>{{ request.entry_permission }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
