{% extends 'base.html' %}
{% load static %}
{% block title %}Housing Dashboard{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
<h1>Request #{{ maintenance_request.id }} Information</h1>

<h2>Request Details:</h2>
<p><strong>First Name:</strong> {{ maintenance_request.first_name }}</p>
<p><strong>Last Name:</strong> {{ maintenance_request.last_name }}</p>
<p><strong>Address:</strong> {{ maintenance_request.address }}</p>
<p><strong>Request:</strong> {{ maintenance_request.request }}</p>
<p><strong>Phone:</strong> {{ maintenance_request.phone }}</p>
<p><strong>Building:</strong> {{ maintenance_request.building.buildingName }}</p>
<p><strong>Entry Permission:</strong> {% if maintenance_request.entry_permission %}Yes{% else %}No{% endif %}</p>
<p><strong>Completed:</strong> {% if maintenance_request.completed %}Yes{% else %}No{% endif %}</p>
{% if maintenance_request.completed %}
    <p><strong>Notes:</strong> {{ maintenance_request.notes }}</p>
    {% endif %}

    {% if request.user.is_superuser or request.user.manager %}
        {% if not maintenance_request.completed %}
            <form method="post" action="{% url 'mark_completed' request_id=maintenance_request.id %}">
            {% csrf_token %}
                <label for="notes">Maintenance Notes:</label><br>
                <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br>
            <button type="submit">Mark as Completed</button>
            </form>
        {% endif %}
    {% endif %}

{% endblock %}
