{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th class="hidden">Email</th>
            <th>Name</th>
            <th class="hidden">Account Type</th>
            <th class="hidden">Date Joined</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr onclick="window.location='/dashboard/users/{{u.username}}'" style="cursor: pointer;">
            <td>{{ u.username }}</td>
            <td class="hidden">{{ u.email }}</td>
            <td>{{u.first_name}} {{u.last_name}}</td>
            <td class="hidden">{{ u.account_type }}</td>
            <td class="hidden">{{ u.archived }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}